.d-flex.justify-content-end.mt-4 > button:first-child {
    font-size: 0.8em; 
}

.input-group .btn-outline-secondary {
    border-color: #dee2e6; 
    border-left-color: #dee2e6; 
}

.input-group .btn-outline-secondary:hover {
    background-color: #f8f9fa; 
    border-color: #dee2e6;
}

.input-group .btn-outline-secondary:focus {
    box-shadow: none;
    border-color: #dee2e6;
}